.typing {
    background: #172238;
    width: 800px;
    height: 250px;
    overflow: hidden;
}

.container {
    margin-top: 50px;
    overflow: hidden;
}

.word {
    font-size: 30px;
    float: left;
    color: #FFF;
    margin: 4px 3px 8px 8px;
    font-family: 'Lato', sans-serif;
}

.typed-correctly {
  color: green;
}

.typed-incorrectly {
  color: red;
}