* {
  box-sizing: border-box;
}

#root {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  background: #2A497B;
}

.typed-correctly {
  color: green;
}

.typed-incorrecly {
  color: red;
}